body {
    text-align: center;
}

.caja {
    background-color: rgb(23, 60, 59);
    border: solid;
    width: 200px;
    height: 50px;
    padding: 15px;
    margin: 30px;
  }

p{
	color:  rgb(34, 125, 114);	
}